doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Fadroma by Hack.bg
    script(data-goatcounter="https://goat.fadroma.hack.bg/count" async src="//goat.fadroma.hack.bg/count.js")
    style(type="text/css")
      include assets/fonts.css
      include assets/style.css
      include assets/code.css
  body
    svg(
      style="position:absolute;width:0;height:0;overflow:hidden"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    )
      defs
        each icon in self.icons
          symbol(id=icon.id viewBox=icon.viewBox)
            title= icon.title
            path(d=icon.path)
    mixin icon (id)
      svg(class=`icon icon-${id}`)
        use(xlink:href=`#${id}`)
    .page
      mixin card (card)
        article.feature(style=card.style class=[
          card.big && `big-${card.big}`,
          card.highlight && `highlight`,
          card.foss && `foss`,
        ].filter(Boolean).join(' '))
          div
            if card.name
              h2= card.name
            div.description!= self.markdown.render(card.info||'')
          if card.links
            .links
              for link in (card.links || [])
                a.docs(href=link.href)
                  +icon(link.icon)
                  if link.bold
                    strong!= self.markdown.renderInline(link.text||'')
                  else
                    != self.markdown.renderInline(link.text||'')
      header.page-header
        a.logo(href="https://github.com/hackbg/fadroma")
          img(src='./assets/logo.svg')
        .references
          each reference in self.references
            +card(reference)
      section.page-content
        .features
          each feature in self.features
            +card(feature)
        .examples
          each example in self.examples
            +card(example)
      //-footer
        //-a.badge(href="https://github.com/hackbg/fadroma/releases.atom")
              //-img(src="https://img.shields.io/badge/Releases-Feed-65b34c?logo=rss")
    //-.wallet x Connected!
