doctype html
html(lang='en')

  head

    meta(charset='utf-8')
    title Fadroma by Hack.bg
    link(rel='stylesheet' href='style.css')
    script(data-goatcounter="https://goat.fadroma.hack.bg/count" async src="//goat.fadroma.hack.bg/count.js")

  body

    header
      a.logo(href="https://github.com/hackbg/fadroma")
        img(src='./logo.svg')
      .badges.center
        a.badge(href="https://docs.rs/fadroma")
          img(title="View documentation for Fadroma Contracts" alt="View documentation for Fadroma Contracts" src="https://img.shields.io/crates/v/fadroma.svg?color=%2365b34c&style=for-the-badge")
        | &nbsp;
        img(src="https://img.shields.io/npm/v/@fadroma/core?color=%2365b34c&label=%40fadroma%2Fcore&style=for-the-badge")
        | &nbsp;
        img(src="https://img.shields.io/npm/v/@fadroma/scrt?color=%2365b34c&label=%40fadroma%2Fscrt&style=for-the-badge")
        | &nbsp;
      p#authorship
        strong Made with 💚 at <a href="https://hack.bg">Hack.bg</a>

      div#quick-start
        p Add to your project with:
        code.block cargo add fadroma

    div#platforms

      p.center
        strong Fadroma
        |  is a framework for building
        strong  decentralized applications
        |  with Rust and TypeScript, targeting the
        strong
          | 
          a(href="https://cosmwasm.com/") CosmWasm ecosystem
        |  with a goal of facilitating the integration of smart contracts into Web applications.

      p.center
        | We currently support 
        strong
          a(href="https://scrt.network/") Secret Network
        | , an open-source, permissionless blockchain based on privacy research and papers
        |  first written at MIT in 2015, including 
        strong
          a(href="https://ieeexplore.ieee.org/document/7163223")
            em Decentralizing Privacy
        | , now one of the
        |  most influential papers in the blockchain space.

      p.center
        | Fadroma powers 
        strong
          a(href="https://app.sienna.network") Sienna Network
        | , a privacy-first and cross-chain decentralized finance platform
        |  where you can privately swap, lend and convert your tokens into their private equivalents.

      p.center
        | Fadroma is 
        strong
          a(href="https://foss.hack.bg") free software
        | , available to the public under the 
        strong
          a(href="https://www.gnu.org/licenses/agpl-3.0.txt") GNU Affero General Public License.
        |  This license protects user freedoms and encourages responsibility towards the digital
        |  commons. If this license doesn't work for your business case, email us at 
        em hello at hack dot bg
        |  to arrange for 
        strong custom licensing options.

    div#features

      h2 Features &amp; Capabilities:

      .grid
        each feature in self.features
          .feature(class=feature.big?`big-${feature.big}`:'')
            h4= feature.name
            div.description= feature.info
            .spacer
            if feature.docs
              a.docs(href=feature.docs) Browse documentation &rarr;
            if feature.tags
              each tag in feature.tags
                .tag= tag
