doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title CosmWasm JSON Schema Viewer and Converter · Fadroma by Hack.bg
    script(data-goatcounter="https://goat.fadroma.hack.bg/count" async src="//goat.fadroma.hack.bg/count.js")
    style(type="text/css")
      include ../assets/fonts.css
      include ../assets/style.css
  body.schema-converter

    svg(
      style="position:absolute;width:0;height:0;overflow:hidden"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    )
      defs
        each icon in self.icons
          symbol(id=icon.id viewBox=icon.viewBox)
            title= icon.title
            path(d=icon.path)

    mixin icon (id)
      svg(class=`icon icon-${id}`)
        use(xlink:href=`#${id}`)

    header.schema-converter-header
      h1 CosmWasm Schema Converter
      .schema-converter-input
        strong Upload from:
        button#upload-from-url URL
        button#upload-from-file File
        button#upload-from-clipboard Clipboard
      .schema-converter-input
        strong Download as:
        button HTML
        button Markdown
        button JSON (pretty)
        button JSON (compact)
        button YAML

    content.schema-converter-output

      section.schema-converter-contract-info
        strong.schema-converter-output-field Contract info
        .schema-converter-output-field Name
        .schema-converter-output-field Version
        .schema-converter-output-field IDL version
        .schema-converter-output-field Description

      section.schema-converter-contract-api
        strong.schema-converter-output-api Contract API
        .schema-converter-output-api Instantiate
        .schema-converter-output-api Execute
        .schema-converter-output-api Query
        .schema-converter-output-api Migrate
        .schema-converter-output-api Sudo
        .schema-converter-output-api Responses

    footer
      span This tool is part of
      strong
        a.logo(href="https://github.com/hackbg/fadroma") Fadroma
      span by
      strong
        a.logo(href="https://hack.bg") Hack.bg

    .schema-converter-modal(style="display:none;visibility:hidden")
      .schema-converter-modal-background
      .schema-converter-modal-content
        strong Upload contract schema from URL:
        input(type="text" size="50" placeholder="enter URL here")
        div
          button Upload
          button Cancel

    script(type="module" src="page/schema.gui.mjs")
