doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    title CosmWasm JSON Schema Viewer and Converter · Fadroma by Hack.bg
    script(data-goatcounter="https://goat.fadroma.hack.bg/count" async src="//goat.fadroma.hack.bg/count.js")
    style(type="text/css")
      include ../assets/fonts.css
      include ../assets/style.css
      include ./schema.css

  body.schema-converter

    svg(
      style="position:absolute;width:0;height:0;overflow:hidden"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    )
      defs
        each icon in self.icons
          symbol(id=icon.id viewBox=icon.viewBox)
            title= icon.title
            path(d=icon.path)

    mixin icon (id)
      svg(class=`icon icon-${id}`)
        use(xlink:href=`#${id}`)

    mixin field (name)
      .schema-field(data-name=name)
        span.name= name
        hr
        span.value

    header.schema-converter-header
      h1.row
        img(src="../banner2.svg" alt="Fadroma" style="height:3em;margin:0 0.5rem 0 0")
        span Schema Tool
      .grow
      .schema-converter-input
        button#upload-from-url Add from URL
        button#upload-from-file Add from file
        button#upload-from-clipboard Add from clipboard

    content.schemas

    template.schema-template
      .schema
        .schema-header.row
          .schema-field(data-name="Name")
            strong.value
          .schema-field(data-name="Version")
            span &nbsp;v
            strong.value
          .grow
          .schema-actions.row
            label
              strong Download as:
            button JSON (pretty)
            button JSON (compact)
            button YAML
            button HTML
            button Markdown

        .schema-url.row
          span(data-name="Source")
          .grow
          button(data-name="Show") Show details
          button(data-name="Hide") Hide details

        .schema-content.row
          .schema-metadata
            .schema-api
              strong API overview:
              +field("Instantiate")
              +field("Execute")
              +field("Query")
              +field("Migrate")
              +field("Sudo")
              +field("Responses")
            .schema-definitions
              strong Type definitions:

          .schema-body

    footer.row
      span This tool is part of
      strong
        a.logo(href="https://github.com/hackbg/fadroma") Fadroma
      span by
      strong
        a.logo(href="https://hack.bg") Hack.bg
      .grow
      span All submitted data is processed securely in your browser, never uploaded anywhere.
      .grow
      button Clear local storage

    .schema-converter-modal(style="display:none;visibility:hidden")
      .schema-converter-modal-background
      .schema-converter-modal-content
        strong Upload contract schema from URL:
        input.schema-converter-modal-input(type="text" size="50" placeholder="enter URL to a CosmWasm schema")
        div.row
          button.schema-converter-modal-upload Upload
          .grow
          button.schema-converter-modal-cancel Cancel
        .schema-converter-modal-error

    script(type="module" src="page/schema.gui.mjs")
